:root {
  --font-primary: 'metropolis_regular', 'Helvetica', sans-serif, system-ui;
  --type-medium: 'metropolis_medium';
  --type-semibold: 'metropolis_semibold';
  --type-bold: 'metropolis_bold';
  --type-extrabold: 'metropolis_extrabold';
  --type-black: 'metropolis_black';
  
  --white: #fff;
  --black: #000;
  --carbon-black: #111;
  --dark-grey: #2d2d2d;
}
