<template id="products__template">
  <article class="products__article">
    <button class="products__add-to-wishlist" aria-label="Add to wishlist">
        <svg class="products__svg" xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24" fill="none"  stroke="currentColor" stroke-width="2" stroke-linecap="round"  stroke-linejoin="round" aria-hidden="true">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
        </svg>
    </button>
    <span class="products__tag"></span>
    <a class="products__overview" href="">
      <img class="products__img" src="" width="" height=""  alt="" loading="lazy">
    </a>
    <div class="products__info">
      <span class="products__category"></span>
      <h3 class="products__h3">
        <a class="products__a products__a--" href="#"  title=""></a>
      </h3>
    </div>
    <div class="products__actions">
      <span class="products__price"></span>
      <button class="products__add-to-cart">Add to cart</button>
    </div>
  </article>
</template>
